.example-spacer {
  flex: 1 1 auto;
}

.container {
  padding-top: 50px;
  height: 100%;
  background-image: url("../../assets/background.d5fac23cc65cb9fff670.jpg");
  background-size: cover;
}

.card {
  width: 1000px;
  margin: auto;
}

.card-tabs{
  margin-top: 25px;
}
